
:root {
    --main-color: #21243d;
    
  }
.customBTN a{
    background: var(--main-color);
    color: #fff;
    text-decoration: none;
    margin-right: 20px;
    margin-top: 20px;
    padding: 5px 10px;
    border-radius: 5px;
  }

  .main-title{
    text-align: center;
    padding: 50px;
    max-width: 50%;
    margin: 0 auto;
  }
  
/* header section  */
header{
    background: var(--main-color);
    
}
header nav .nav-link{
    color: #d3d3d8;
}
header nav .nav-link:hover{
    color: #ffffff;
}
header form i{
    color:#fff;
}
a.nav-link.active{
    color:#fff !important;
}
a.nav-link.active:hover{
    color:#d3d3d8 !important;
}

/* bannner section  */
.banner{
    background: url(media/food-banner.jpg) center ;
    background-position: cover;
    background-repeat: no-repeat;
    height: 550px;
    color: #fff;
}
.banner div{
    justify-content: center;
    padding-top: 200px;
    max-width: 40%;
}
/* popular menu section  */
.popular {
    background: var(--main-color);
    color: #fff
}

.popular .row img{
    height: 200px;
    width: 200px;
    border-radius: 50%;
    margin-bottom: 20px;
}
.popular .row .col-4{
    padding: 50px;
}